body
{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-color:rgb(241, 241, 238);
}
.boite1 > .droite, .boite3 > .droite, .boite4 > .droite
{
    float: right;
}
.boite5
{
    clear: right;
}

.boite1 > .gauche, .boite3 > .gauche, .boite4 > .gauche
{
    float: left;
}
.boite2 >.milieu
{
    position: relative;
    clear: right;
}
.boite4
{
    clear: right;
}
.formu1
{
    display: table;
    width: 900px;
    margin:100px  auto;
    padding: 50px;
   
    
}

input{
    width: 400px;
    height: 50px;
    font-size: 20px;
    margin-top: 10px;
    padding-left: 15px;
    border-radius: 4px;
    
   
}
label
{
    font-size: 28px;
    
}
.droite
{
    margin-left: 30px;
}
.email
{
    width:880px;
}
.envoyer
{
    color: white;
    margin-top: 30px ;
    border-style: outset;
    background-color: #0066A2;
    width: 250px;
    border-radius: 7px;
}

